:root {
  --background-site: #242424;
  --background-footer: #060606;
  --gold: #9c7e30;
  --white: #e6e6e6;
  --grey: #bbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background: var(--background-site);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
}

header {
  padding: 20px 0;
}

footer {
  padding: 80px 40px 40px;
  background-color: var(--background-footer);
  text-align: center;
}

a {
  color: var(--white);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.main-image {
}

.main-image-container {
  width: 100%;
  height: 480px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner {
  background-image: url(../img/resto.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}

.image-ev-container {
  margin-bottom: 40px;
}

.image-ev {
  margin-left: -12px;
  height: 320px;
  width: 100vw;
  object-fit: cover;
  display: block;
  max-inline-size: none;
}

@media (min-width: 576px) {
  .image-ev {
    margin-left: calc((100vw - 516px) / 2 * -1);
  }
}

@media (min-width: 768px) {
  .image-ev {
    margin-left: calc((100vw - 696px) / 2 * -1);
  }
}

@media (min-width: 992px) {
  .image-ev {
    margin: 0;
    max-inline-size: 100%;
  }
  .contact {
    text-align: left;
  }
}

.title-ev {
  font-size: 36px;
  font-weight: 400;
}

.date-ev {
  font-size: 24px;
  margin-bottom: 25px;
}

.separation {
  margin: 40px 0;
}

.reservation {
  margin: 40px 0 80px;
}

.border-bottom {
  border-bottom: solid 1px var(--gold);
  margin-bottom: 20px;
}

h2 {
  color: #9c7e30;
  font-family: "Italiana", sans-serif;
  font-size: 49px;
  font-weight: 400;
  line-height: 56px;
  margin: 40px 0;
}

h3 {
  color: #e6e6e6;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

div {
  padding: 0;
}

p {
  color: var(--grey);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 40px;
}

.contact {
}

.link-image {
  text-decoration: none;
}

.link-image-spacing {
  margin-right: 50px;
}

.logo-footer {
  width: 450px;
}
