:root {
  --background-site: #242424;
  --background-footer: #060606;
  --gold: #9c7e30;
  --white: #e6e6e6;
  --grey: #bbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background: var(--background-site);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
}

header {
  padding: 20px 0;
}

footer {
  padding: 80px 40px 40px;
  background-color: var(--background-footer);
  text-align: center;
}

a {
  color: var(--white);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.relative {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.burger {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 20px;
}

.burger div {
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--gold);
  transition: transform 0.3s, opacity 0.3s;
}

.burger.is-active {
  position: fixed;
}

.burger:hover div {
  background: var(--white);
}

.burger div:nth-child(1) {
  top: 0;
}

.burger div:nth-child(2) {
  top: 8px;
}

.burger div:nth-child(3) {
  top: 16px;
}

.burger.is-active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.is-active div:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}

.burger.is-active div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateX(100%);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.menu {
  text-align: center;
  position: fixed;
  top: 0;
  padding: 100px 40px 40px;
  margin-right: -45px;
  background: var(--background-site);
  display: flex;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  font-size: 24px;
}

li {
  list-style: none;
}

.border-bottom-menu {
  margin: 40px 0;
}

.main-image {
  transition: transform 0.5s;
}

.main-image:hover {
  transform: translateY(15px);
}

.main-image-container {
  width: 100%;
  height: 480px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner {
  background-image: url(../img/resto.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}

.image-ev-container {
  margin-bottom: 40px;
}

.image-ev {
  margin-left: -12px;
  height: 320px;
  width: 100vw;
  object-fit: cover;
  display: block;
  max-inline-size: none;
}

@media (max-width: 575px) {
  p {
    font-size: 18px;
  }

  h3 {
    font-size: 22px;
  }
}

@media (min-width: 576px) {
  .image-ev {
    margin-left: calc((100vw - 516px) / 2 * -1);
  }

  p {
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .image-ev {
    margin-left: calc((100vw - 696px) / 2 * -1);
  }
}

@media (min-width: 992px) {
  .image-ev {
    margin: 0;
    max-inline-size: 100%;
  }
  .contact {
    text-align: left;
  }
}

.title-ev {
  font-size: 36px;
  font-weight: 400;
}

.date-ev {
  font-size: 24px;
  margin-bottom: 25px;
}

.center-top-bottom {
  display: flex;
  align-items: center;
  height: 100%;
}

.separation {
  margin: 40px 0;
}

.reservation {
  margin: 40px 0 80px;
}

.border-bottom {
  border-bottom: solid 1px var(--gold);
}

.border-bottom-margin {
  margin-bottom: 20px;
}

h2 {
  color: #9c7e30;
  font-family: "Italiana", sans-serif;
  font-size: 49px;
  font-weight: 400;
  line-height: 56px;
  margin: 40px 0;
}

h3 {
  color: #e6e6e6;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

div {
  padding: 0;
}

p {
  color: var(--grey);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 40px;
}

footer a:hover {
  transition: 0.2s;
  color: var(--gold);
}

.link-image {
  text-decoration: none;
}

.link-image-spacing {
  margin-right: 50px;
}

.logo-footer {
  width: 450px;
}
