:root {
  --background-site: #242424;
  --background-footer: #060606;
  --gold: #9c7e30;
  --white: #e6e6e6;
  --grey: #bbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background: var(--background-site);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.main-image {
  max-width: 80px;
}

.main-image-container {
  width: 100%;
  height: 480px;
  /* background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  background-image: url(../img/resto.png);

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.image-ev-container {
  overflow: hidden;
}

.image-ev {
  height: 320px;
  width: 100%;
  object-fit: cover;
}

h2 {
  color: #9c7e30;
  font-family: "Italiana", sans-serif;
  font-size: 49px;
  font-weight: 400;
  line-height: 56px;
}

h3 {
  color: #e6e6e6;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: var(--grey);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

/* .row + .row,
.container + .container {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(11, 0, 70, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.2);
} */
